body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 40px;
}

.container {
    max-width: 700px;
    margin: auto;
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 15px;
}

input {
    padding: 12px;
    width: 70%;
}

button {
    padding: 12px 20px;
    cursor: pointer;
}
